'.source.logstash':
  'input':
    'prefix': 'input'
    'body': 'input {\n\t${1}\n}'
  'filter':
    'prefix': 'filter'
    'body': 'filter {\n\t${1}\n}'
  'output':
    'prefix': 'output'
    'body': 'output {\n\t${1}\n}'
  'stdout':
    'prefix': 'stdout'
    'body': 'stdout { $1 }'
  'codec':
    'prefix': 'codec'
    'body': 'codec => ${1:name}$0'
  'workers':
    'prefix': 'workers'
    'body': 'workers => ${1:number}$0'
  'array':
    'prefix': 'array'
    'body': '${1:name} => [ \"${2:value}\" ]'
  'hash':
    'prefix': 'hash'
    'body': '${1:name} => { \"${2:key}\" => \"${3:value}\" }'
  'string':
    'prefix': 'string'
    'body': '${1:name} => \"${2:value}\"$3'
  'boolean':
    'prefix': 'boolean'
    'body': '${1:name} => $2true'
  'number':
    'prefix': 'num'
    'body': '${1:name} => $2'
  'grok' :
    'prefix': 'grok'
    'body': 'grok {\n\t${1}match => { \"message\" => \"%{IP:client} %{WORD:method} %{URIPATHPARAM:request} %{NUMBER:bytes} %{NUMBER:duration}\" }\n}'
