'.source.logstash':
  'input':
    'prefix': 'input'
    'body': 'input {\n\t${1}\n}'
  'filter':
    'prefix': 'filter'
    'body': 'filter {\n\t${1}\n}'
  'output':
    'prefix': 'output'
    'body': 'output {\n\t${1}\n}'
  'stdout':
    'prefix': 'stdout'
    'body': 'stdout { $1 }'
  'codec':
    'prefix': 'codec'
    'body': 'codec => ${1:name}$0'
  'workers':
    'prefix': 'workers'
    'body': 'workers => ${1:number}$0'
  'influxdb':
    'prefix': 'influxdb'
    'body': 'influxdb {\n\tdata_points => {\n\t$2\n\t}\n\thost => \'${1:host}\'\n}'
