'scopeName': 'source.logstash'
'fileTypes': [
  'conf'
]
'name': 'Logstash'

'patterns': [
  {
    match: "^(input|filter|codec|output)"
    name: "entity.name.type.class.logstash"
  }
  {
    captures:
      "2":
        name: "entity.name.function.logstash"
    comment: "functions: types of inputs, codecs, filters and outputs"
    match: "^(\\s*)(\\w+)(\\s*{)"
  }
  {
    comment: "comments"
    match: "^(\\s*)?#.+"
    name: "comment.line.number-sign.logstash"
  }
  {
    comment: "single quoted string values"
    match: "(\')(.+?)[^\']*(\')"
    name: "string.text.logstash"
  }
  {
    comment: "double quoted string values"
    match: "(\")(.+?)[^\"]*(\")"
    name: "string.text.logstash"
  }
  {
    captures:
      "1":
        name: "variable.text.logstash"
      "2":
        name: "keyword.operator.logstash"
      "3":
        name: "constant.numeric.logstash"
    comment: "number variable"
    match: "(\\w*)\\s+(\=>)\\s+(\\d+)"
  }
  {
    captures:
      "1":
        name: "variable.text.logstash"
      "2":
        name: "keyword.operator.logstash"
      "3":
        name: "string.text.logstash"
    comment: "string variable"
    match: "(\\w*)\\s+(\=>)\\s+(\\w*)"
  }
  {
    captures:
      "1":
        name: "entity.name.function.logstash"
      "2":
        name: "variable.text.logstash"
      "3":
        name: "keyword.operator.logstash"
      "4":
        name: "constant.numeric.logstash"
    comment: "single line number variable"
    match: "(\\w*)\\s*\{\\s+(\\w*)\\s+(\=>)\\s+(\\d+)\\s+(\})"
    name: "single.line.number.variable.logstash"
  }
  {
    captures:
      "1":
        name: "keyword.control.logstash"
      "4":
        name: "entity.name.function.logstash"
      "7":
        name: "keyword.operator.logstash"
    comment: "if/else if statements"
    match: "(if|else if|else)(\\s+)(\\[)(\\w*)(\\])(\\s*)(==|!=|<|>|<=|>=|=~|!~|in|not in|!)"
    name: "text.logstash"
  }
  {
    captures:
      "1":
        name: "keyword.control.logstash"
      "3":
        name: "string.text.logstash"
      "5":
        name: "keyword.operator.logstash"
      "8":
        name: "entity.name.function.logstash"
    comment: "if/else from bug reports"
    match: "(if)(\\s+)(\"\\w*\")(\\s+)(in)(\\s+)(\\[(\\w*)\\])"
  }
  {
    captures:
      "1":
        name: "keyword.control.logstash"
    comment: "else statements"
    match: "(else)(\\s+)({)"
    name: "text.logstash"
  }
]
